header{
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

nav{
    padding-top: .5vmax;
    padding-bottom: 0.5vmax;
}

.n1 ul{
list-style: none;
}

.n1 ul li{
    color: white;
    font-size: 1.5rem;
}

.n1 ul li:hover{
    cursor: pointer;

}

.n2{
    list-style: none;
    width: 700px;
}

.n2 ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.n2 ul li{
        color: rgba(255, 255, 255, 0.785);
        font-size: 1.2rem;
        margin-top: 12px;
}

.n2 ul li:hover{
    cursor: pointer;
    color: white;
    font-size: 1.3rem;
}


.b1{
    background-color: rgba(51, 139, 51, 0.807);
    width: 11vw;
    border: 1px solid black;
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.785);
    height: 8vh;
    font-size: 1.1rem;
    margin-top: -20px;
    margin-right: 10px;
}

.b1:hover{
    color: white;
   scale: 1.2;
    font-size:1.2rem;
    cursor: pointer;
}

.b2{
    background-color: wheat;
    width: 10vw;
    border-radius: 30px;
    color: black;
    height: 8vh;
    font-size: 1.4vw;
    font-weight: bolder;
    margin-right: 2.5vw;
    margin-top: -4vw;
    margin-left: 1vw;

}

.b2:hover{
    font-size: 1.3rem;
    scale: 1.2;
    cursor: pointer;
}

section{
    background-color: rgba(0, 0, 0, 0.940);
    color: white;
    height: 86vh;
}

main{
    display: flex;
    justify-content: space-around;

}

.left{
    background-color: rgba(0, 0, 0, 0.200);
    border: solid rgba(0, 0, 0, 0.736) 1px;
    border-radius: 10px;
    min-width:250px;
    width: 21vw;
    max-width: 30vw;
    height: 85vh;
    margin-top: 8px;
}

.l1{
    min-width:250px;
    width: 20vw;
    max-width: 30vw;
    display: grid;
    height: 130px;
    background-color: rgba(31, 31, 31, 0.745);
    border-radius: 20px;
    margin-top: 5px;
    margin-left: 4px;
    margin-right: 2px;
}

.l1 img{
    width: 35px;
    
}

 ul{
    list-style: none;
   
}

.l1 ul li{
    color: white;
    font-size: 1.2rem;

}

.h{
    display: flex;

}


.h1{
    font-size: 1.2rem;
}

.h1:hover{
    scale: 1.5;
    cursor: pointer;
}

.h2{
    font-size: 1.2rem;
    margin-top: 8px;
  margin-left: 20px;
  font-weight: 500;
}

.h2:hover{
    color: green;
    font-weight: bolder;
    font-size: 1.4rem;
    cursor: pointer;
}


.s{
    display: flex;
    margin-top: -5px;
}


.s1{
    font-size: 1.2rem;
}

.s1:hover{
    scale: 1.5;
    cursor: pointer;
}

.s2{
    font-size: 1.2rem;
    margin-top: 8px;
  margin-left: 20px;
  font-weight: 500;
}

.s2:hover{
    color: green;
    font-weight: bolder;
    font-size: 1.4rem;
    cursor: pointer;
}

.library{
    display: grid;
    background-color: rgba(24, 21, 21, 0.797);
    height: 240px;
    min-width:250px;
    width: 20vw;
    max-width: 30vw;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 4px;
    margin-right: 2px;

}


.libr{
    display: flex;
    margin-top: -5px;
}


.libr1{
    font-size: 1.2rem;
    margin-top: 20px;
}

.libr1:hover{
    scale: 1.2;
    cursor: pointer;
}

.libr2{
    font-size: 1.2rem;
    margin-top: 20px;
  margin-left: 20px;
  font-weight: 500;
}

.libr2:hover{
    color: green;
    font-weight: bolder;
    font-size: 1.4rem;
    cursor: pointer;
}

.libr1 img{
    width: 35px;
    
}


.lo img{
    width: 25px;
    margin-top: 20px;
    margin-left: 6vmax;
}

.lo img:hover{
    scale: 1.3;
    cursor: pointer;
}


.scrol{
    overflow-x: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgba(31, 31, 31, 0.745);
    height: 190px;
    border-radius: 10px;
    min-width:250px;
    width: 20vw;
    max-width: 30vw;
    margin-top: 10px;
   
    
}

.sc1{
    background-color: rgba(25, 24, 24, 0.686);
    height: 120px;
}

.sc2{
    background-color: rgba(25, 24, 24, 0.686);
    margin-top: 25px;
}

.p1{
    font-size: 1.1rem;
    color: antiquewhite;
    margin-left: 10px;    
    
}

.p2{
    font-size: 1rem;
    color: antiquewhite;
    margin-left: 10px;
    margin-top: -10px;
}

.scb1{
    background-color: wheat;
    color: black;
    font-weight: bolder;
    max-width: 10vw;
    min-width: 120px;
    height: 40px;
    border-radius: 20px;
    margin-top: 5px;
    margin-left: 20px;
}

.scb1:hover{
   scale: 1.1;
}

footer{
    margin-top: 100px;
}

.f1,.f2,.f3{
    display: flex;
    flex-direction: row;
    

    
}

.f1,.f2,.f3 li{
    font-size: 12px;
    
}
.f1,.f2,.f3 li:hover{
    cursor: pointer;
    text-transform: uppercase;
}
.f1 li{
    margin-left: 10px;
}


.f2 li{
    margin-left: 10px;
}

.f3 li{
    margin-left: 10px;
}



.right{
    background-color: rgba(0, 0, 0, 0.200);
    border: solid rgba(0, 0, 0, 0.736) 1px;
    border-radius: 10px;
    min-width:200px;
    width: 75vw;
    max-width: 75vw;
    height: 85vh;
    margin-top: 8px;
    overflow: auto;
    overflow-x: hidden;
    
}



.r1{
    display: grid;
    min-width:200px;
    width: 75vw;
    max-width: 75vw;
    padding-left: 75px;
}

@media screen and (max-width:800px){
    .r1{
        padding-left: 0px;
    }    

    .log{
        margin-right: 40px;
    }
    
}
h2{
    margin-left: 60px;
    width: 200px;
}
h2:hover{
    color: green;
    cursor: pointer;
    scale: 1.1;
    
}


form{
    display: grid;
    margin: 10px;
    align-items: center;
    background-color: rgba(39, 36, 36, 0.738);
    border-radius: 40px;
    width: 45vw;
    margin-left: 25px;
    padding: 50px;
    padding-left: 70px;
}

.log{
    text-align: center;
    font-size: 1.5rem;
   

}

.log:hover{
    color: green;
    scale: 1.1;
    cursor: pointer;
}

.bl1{
    width: 40vw;
    height: 8vh;
    background-color: antiquewhite;
    color: black;
    text-align: center;
    margin-top: 10px;
    border-radius: 30px;
    font-weight: bolder;
    font-size: 1.3rem;

}


.bl2{
    width: 40vw;
    height: 8vh;
    background-color: antiquewhite;
    color: black;
    margin-top: 15px;
    text-align: center;
    border-radius: 30px;
    font-weight: bolder;
    font-size: 1.3rem;

}


.bl3{
    width: 20vw;
    height: 8vh;
    background-color: rgba(51, 139, 51, 0.807);
    color: white;
    font-size: 1.2rem;
    font-weight: bolder;
    text-align: center;
    margin-top: 10px;
    border-radius: 30px;
    margin-left: 10vw;
    margin-top: 60px;
}

.bl1:hover,.bl2:hover{
    cursor: pointer;
    scale: 1.1;
}

.bl3:hover{
    cursor: pointer;
    scale: 1.2;
}

.forgot{
    font-size: 1.1rem;
    color: white;
    font-weight: bold;
    margin-top: -140px;
}

.forgot:hover{
    color: rgba(179, 28, 28, 0.695);
    scale: 1.1;
    margin-left: 30px;
    text-decoration: solid underline rgb(176, 104, 16);
}


a{
    color: antiquewhite;
    text-transform: none;
    text-decoration: none;
}

a:hover{
    color: green;
    scale: 1.1;
}
